<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lukasdylan.news">

    <application>

        <activity android:name=".DetailNewsActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="detail_news"
                        android:scheme="news"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
