<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lukasdylan.news">

    <application>

        <activity android:name=".ui.detailnews.DetailNewsActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="@string/deep_link_detail_news"
                        android:scheme="@string/scheme"/>
            </intent-filter>

        </activity>

        <activity android:name=".ui.listnews.ListNewsActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="@string/deep_link_list_news"
                        android:scheme="@string/scheme"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
